ul { /* Controls Navigation Panel itself */
  list-style-type: none;
  margin: 2;
  padding: 0;
  overflow: hidden;
  color: rgba(255, 255, 255, 255); /* text color 255 for all == white */
  background-color: rgba(110,1,1,1);
  font-size: 20px;
  font-weight: 300;
  position: sticky; /* Keeps the Navigation Panel as we scroll down */
}

li {
  float: right; /* Aligning the elements of the nav. pane */
}

li a {
	display: block;
	color: inherit;
    text-align: center;
  	padding: 5px 20px; /* Controls height of nav tab and width between elements */
  	text-decoration: none;
    
}

li a:hover {
  background-color: #111; /*Color as we hover over navigation pane.*/
}

/*
#container { 
	width: 75%; 
	margin: 0 auto; 
} 
*/



.footer {
  /* position: fixed;*/
   left: 3;
   bottom: 0;
   height: 100px;
   padding:20px;
  /* width: 90%; */
   background-color: rgba(120,1,1,1);;
   color: white;
   text-align: center;
}


.active{
	color: rgba(255, 255, 255, 255); /* text color 255 for all == white */
	background-color: rgba(120,1,1,1);}


/*
.content {
  max-width: 960px;
  margin: auto;
  background: white;
  padding: 10px;
}

*/
